/**/*.elc
/**/*.png
/**/*.dat
/**/*.jpg
/**/*.gif
/**/*.doc
/.bzrignore
/abbrev_defs
/tutorial/
/tramp
/cacoo
/ac-comphist.dat
/anything-c-adaptive-history
/auto-install
/auto-save-list
/eproject.lst
/elpa
/**/*.org*
/viper*
