[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = git://github.com/magnars/dash.el
[submodule "site-lisp/f"]
	path = site-lisp/f
	url = git://github.com/rejeep/f.el
[submodule "site-lisp/flycheck"]
	path = site-lisp/flycheck
	url = git://github.com/flycheck/flycheck.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/flymake-coffee"]
	path = site-lisp/flymake-coffee
	url = git://github.com/purcell/flymake-coffee.git
[submodule "site-lisp/sass-mode"]
	path = site-lisp/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "site-lisp/flymake-easy"]
	path = site-lisp/flymake-easy
	url = git://github.com/purcell/flymake-easy.git
[submodule "site-lisp/gh"]
	path = site-lisp/gh
	url = git://github.com/sigma/gh.el.git
[submodule "site-lisp/github"]
	path = site-lisp/github
	url = git://github.com/abhiyerra/github.el.git
[submodule "site-lisp/scala-mode2"]
	path = site-lisp/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "site-lisp/haskell-mode"]
	path = site-lisp/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "site-lisp/popwin"]
	path = site-lisp/popwin
	url = git://github.com/m2ym/popwin-el.git
[submodule "site-lisp/haml-mode"]
	path = site-lisp/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "site-lisp/popup"]
	path = site-lisp/popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://github.com/magit/magit.git
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/yspel"]
	path = site-lisp/yspel
	url = git://github.com/yama-natuki/yspel.git
[submodule "site-lisp/init-loader"]
	path = site-lisp/init-loader
	url = git://github.com/emacs-jp/init-loader.git
[submodule "site-lisp/helm-rails"]
	path = site-lisp/helm-rails
	url = git://github.com/asok/helm-rails.git
[submodule "site-lisp/emacs-rails"]
	path = site-lisp/emacs-rails
	url = git://github.com/tomtt/emacs-rails.git
[submodule "site-lisp/cucumber"]
	path = site-lisp/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = git://github.com/fxbois/web-mode.git
[submodule "site-lisp/lua-mode"]
	path = site-lisp/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "site-lisp/go-mode"]
	path = site-lisp/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "site-lisp/slim-mode"]
	path = site-lisp/slim-mode
	url = https://github.com/slim-template/emacs-slim.git
