/**/#*#
/**/*.elc
/**/*.png
/**/*.dat
/**/*.jpg
/**/*.gif
/**/*.doc
/.bzrignore
/.cache
/.dap-breakpoints
/.lsp-session-v1
/abbrev_defs
/recentf
/recentf~
/transient/
/tutorial/
/tramp
/workspace
/cacoo
/ac-comphist.dat
/anything-c-adaptive-history
/auto-install
/auto-save-list
/eproject.lst
/elpa
/**/*.org*
/viper*
