/**/#*#
/**/*.elc
/**/*.png
/**/*.dat
/**/*.jpg
/**/*.gif
/**/*.doc
/server.socket
/.bzrignore
/.cache
/.dap-breakpoints
/.lsp-session-v1
/abbrev_defs
/recentf
/recentf~
/transient/
/tutorial/
/tramp
/workspace
/cacoo
/ac-comphist.dat
/anything-c-adaptive-history
/auto-install
/auto-save-list
/eproject.lst
/elpa
/**/*.org*
/viper*
/share/snippets/*
/**/*~undo-tree~
/eclipse.jdt.ls
/network-security.data
/eln-cache/
/tree-sitter
/eshell
